button{
    height: 100px;
    width: 200px;
    margin-left: 550px;
    top: 50px;
    position: relative;

}
#random 
{
    height: 300px;
    width: 500px;
    margin-left: 410px;
    border-color:black;
    margin-top: 80px;
    

}